Etude de cas météorologique

In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib

In [3]:
df = pd.read_csv("../Data/synop.csv")
print(df)

        numer_sta          date      pmer  tend  cod_tend     dd    ff  \
0          7005.0  2.023060e+13  102240.0  40.0       1.0   30.0   3.8
1          7015.0  2.023060e+13  102260.0  70.0       1.0  360.0   4.7
2          7020.0  2.023060e+13  102320.0  70.0       1.0   70.0  11.4
3          7027.0  2.023060e+13  102190.0  50.0       1.0   20.0   3.1
4          7037.0  2.023060e+13  102080.0   0.0       0.0   30.0   6.2
...           ...           ...       ...   ...       ...    ...   ...
381123    81401.0  2.023033e+13  101150.0  90.0       5.0   50.0   3.3
381124    81405.0  2.023033e+13  101210.0 -60.0       5.0   50.0   3.8
381125    81408.0  2.023033e+13  101120.0  60.0       5.0   60.0   2.9
381126    81415.0  2.023033e+13       NaN   NaN       NaN   30.0   0.5
381127    89642.0  2.023033e+13   99920.0  70.0       3.0  110.0   9.3

             t      td      u  ...  ctype2  hnuage2  nnuage3  ctype3  hnuage3  \
0       285.95  284.55   91.0  ...     NaN      NaN      NaN     NaN      NaN
1       286.25  284.65   90.0  ...     NaN      NaN      NaN     NaN      NaN
2       285.85  283.95   88.0  ...     NaN      NaN      NaN     NaN      NaN
3       286.25  284.95   92.0  ...     NaN      NaN      NaN     NaN      NaN
4       286.25  284.35   88.0  ...     NaN      NaN      NaN     NaN      NaN
...        ...     ...    ...  ...     ...      ...      ...     ...      ...
381123  301.75  295.75   70.0  ...     NaN      NaN      NaN     NaN      NaN
381124  300.45  296.25   78.0  ...     NaN    960.0      NaN     NaN      NaN
381125  302.35  294.55   63.0  ...     NaN      NaN      NaN     NaN      NaN
381126  298.95  296.85   88.0  ...     NaN      NaN      NaN     NaN      NaN
381127  271.45  271.45  100.0  ...     NaN      NaN      NaN     NaN      NaN

        nnuage4  ctype4  hnuage4  Unnamed: 59  \
0           NaN     NaN      NaN          NaN
1           NaN     NaN      NaN          NaN
2           NaN     NaN      NaN          NaN
3           NaN     NaN      NaN          NaN
4           NaN     NaN      NaN          NaN
...         ...     ...      ...          ...
381123      NaN     NaN      NaN          NaN
381124      NaN     NaN      NaN          NaN
381125      NaN     NaN      NaN          NaN
381126      NaN     NaN      NaN          NaN
381127      NaN     NaN      NaN          NaN

        numer_sta,date,pmer,tend,cod_tend,dd,ff,t,td,u,vv,ww,w1,w2,n,nbas,hbas,cl,cm,ch,pres,niv_bar,geop,tend24,tn12,tn24,tx12,tx24,tminsol,sw,tw,raf10,rafper,per,etat_sol,ht_neige,ssfrai,perssfrai,rr1,rr3,rr6,rr12,rr24,phenspe1,phenspe2,phenspe3,phenspe4,nnuage1,ctype1,hnuage1,nnuage2,ctype2,hnuage2,nnuage3,ctype3,hnuage3,nnuage4,ctype4,hnuage4,Unnamed: 59
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
381123                                                NaN
381124                                                NaN
381125                                                NaN
381126                                                NaN
381127                                                NaN

[381128 rows x 61 columns]

/tmp/ipykernel_7135/911539712.py:1: DtypeWarning: Columns (60) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../Data/synop.csv")

Q1 : Quels sont les stations dont les températures sont les plus élevées et celles dont les températures sont les plus basses durant 2023 ? Appartiennent-elles à la même région ?

In [4]:
stations = pd.read_csv("../postesSynop.csv", sep=";")
list_num_sta = stations.loc[stations['ID'] < 10000, 'ID']
print(list_num_sta)
print(len(list_num_sta))

0     7005
1     7015
2     7020
3     7027
4     7037
5     7072
6     7110
7     7117
8     7130
9     7139
10    7149
11    7168
12    7181
13    7190
14    7207
15    7222
16    7240
17    7255
18    7280
19    7299
20    7314
21    7335
22    7434
23    7460
24    7471
25    7481
26    7510
27    7535
28    7558
29    7577
30    7591
31    7607
32    7621
33    7627
34    7630
35    7643
36    7650
37    7661
38    7690
39    7747
40    7761
41    7790
Name: ID, dtype: int64
42

In [6]:
temperature=df.groupby('numer_sta')['t'].agg('mean').sort_values(ascending=False).dropna()
temperature = temperature.loc[temperature.index < 10000]
print(temperature)
print(temperature.shape)
correlation=df['u'].corr(df['t'])
print(correlation)

numer_sta
7690.0    289.464891
7790.0    289.379535
7747.0    289.248263
7761.0    289.147117
7650.0    288.515560
7643.0    288.491603
7630.0    287.393767
7510.0    287.191353
7314.0    287.047501
7577.0    287.003184
7607.0    286.776162
7207.0    286.700231
7481.0    286.211717
7222.0    286.007361
7535.0    286.006346
7621.0    285.832598
7460.0    285.632388
7335.0    285.600265
7255.0    285.571128
7627.0    285.479368
7020.0    285.408612
7117.0    285.406562
7130.0    285.374808
7240.0    285.374219
7149.0    285.328571
7434.0    284.873832
7110.0    284.847962
7280.0    284.713401
7190.0    284.690289
7168.0    284.641828
7027.0    284.530756
7299.0    284.387430
7015.0    284.304286
7139.0    284.299537
7558.0    284.121184
7072.0    284.095738
7005.0    284.058179
7037.0    283.892605
7181.0    283.842819
7591.0    283.563331
7471.0    282.516284
Name: t, dtype: float64
(41,)
-0.27403269345831166

In [19]:
index = [temperature.index[i] for i in [0, 1, 2, -1, -2, -3]]

print("Les stations les plus chaudes sont : ")
print(stations.loc[stations['ID'] == index[0], ['ID', 'Nom']])
print(stations.loc[stations['ID'] == index[1], ['ID', 'Nom']])
print(stations.loc[stations['ID'] == index[2], ['ID', 'Nom']])
print("\nLes stations les moins froides sont : ")
print(stations.loc[stations['ID'] == index[3], ['ID', 'Nom']])
print(stations.loc[stations['ID'] == index[4], ['ID', 'Nom']])
print(stations.loc[stations['ID'] == index[5], ['ID', 'Nom']])

Les stations les plus humides sont :
      ID   Nom
38  7690  NICE
      ID     Nom
41  7790  BASTIA
      ID        Nom
39  7747  PERPIGNAN

Les stations les moins humides sont :
      ID            Nom
24  7471  LE PUY-LOUDES
      ID     Nom
30  7591  EMBRUN
      ID          Nom
12  7181  NANCY-OCHEY

Q2 : Quels sont les stations les plus humides, cela a-t-il une relation avec la température ?

In [14]:
humidity=df.groupby('numer_sta')['u'].agg('mean').sort_values(ascending=False).dropna()
humidity = humidity.loc[humidity.index < 10000]
print(humidity)
correlation=df['u'].corr(df['t'])
print(correlation)

numer_sta
7110.0    85.093353
7020.0    82.604665
7027.0    81.891381
7005.0    81.819064
7037.0    81.353131
7117.0    81.005938
7139.0    80.628102
7607.0    80.592407
7072.0    80.015285
7130.0    79.778271
7314.0    79.705209
7207.0    79.597892
7015.0    79.249702
7222.0    78.945636
7335.0    78.504714
7434.0    78.031737
7168.0    78.020870
7240.0    78.016388
7627.0    77.791913
7621.0    77.776014
7510.0    76.951471
7535.0    76.858914
7299.0    76.532490
7280.0    75.959106
7181.0    75.489994
7255.0    75.233324
7558.0    74.815176
7190.0    74.641910
7471.0    74.208885
7149.0    74.174309
7761.0    74.088261
7630.0    73.849626
7481.0    70.476919
7790.0    69.524556
7577.0    69.498526
7460.0    69.477213
7650.0    67.993241
7643.0    66.481118
7690.0    65.857269
7591.0    62.710808
7747.0    62.566549
Name: u, dtype: float64
-0.27403269345831166

In [17]:
index = [humidity.index[i] for i in [0, 1, 2, -1, -2, -3]]

print("Les stations les plus humides sont : ")
print(stations.loc[stations['ID'] == index[0], ['ID', 'Nom']])
print(stations.loc[stations['ID'] == index[1], ['ID', 'Nom']])
print(stations.loc[stations['ID'] == index[2], ['ID', 'Nom']])
print("\nLes stations les moins humides sont : ")
print(stations.loc[stations['ID'] == index[3], ['ID', 'Nom']])
print(stations.loc[stations['ID'] == index[4], ['ID', 'Nom']])
print(stations.loc[stations['ID'] == index[5], ['ID', 'Nom']])

Les stations les plus humides sont :
     ID             Nom
6  7110  BREST-GUIPAVAS
     ID              Nom
2  7020  PTE DE LA HAGUE
     ID             Nom
3  7027  CAEN-CARPIQUET

Les stations les moins humides sont :
      ID        Nom
39  7747  PERPIGNAN
      ID     Nom
30  7591  EMBRUN
      ID   Nom
38  7690  NICE