Etude de cas météorologique

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib

In [2]:
df = pd.read_csv("../Data/synop.csv")
print(df)
print(df['numer_sta'] == 7005)

        numer_sta          date      pmer  tend  cod_tend     dd    ff  \
0          7005.0  2.023060e+13  102240.0  40.0       1.0   30.0   3.8
1          7015.0  2.023060e+13  102260.0  70.0       1.0  360.0   4.7
2          7020.0  2.023060e+13  102320.0  70.0       1.0   70.0  11.4
3          7027.0  2.023060e+13  102190.0  50.0       1.0   20.0   3.1
4          7037.0  2.023060e+13  102080.0   0.0       0.0   30.0   6.2
...           ...           ...       ...   ...       ...    ...   ...
381123    81401.0  2.023033e+13  101150.0  90.0       5.0   50.0   3.3
381124    81405.0  2.023033e+13  101210.0 -60.0       5.0   50.0   3.8
381125    81408.0  2.023033e+13  101120.0  60.0       5.0   60.0   2.9
381126    81415.0  2.023033e+13       NaN   NaN       NaN   30.0   0.5
381127    89642.0  2.023033e+13   99920.0  70.0       3.0  110.0   9.3

             t      td      u  ...  ctype2  hnuage2  nnuage3  ctype3  hnuage3  \
0       285.95  284.55   91.0  ...     NaN      NaN      NaN     NaN      NaN
1       286.25  284.65   90.0  ...     NaN      NaN      NaN     NaN      NaN
2       285.85  283.95   88.0  ...     NaN      NaN      NaN     NaN      NaN
3       286.25  284.95   92.0  ...     NaN      NaN      NaN     NaN      NaN
4       286.25  284.35   88.0  ...     NaN      NaN      NaN     NaN      NaN
...        ...     ...    ...  ...     ...      ...      ...     ...      ...
381123  301.75  295.75   70.0  ...     NaN      NaN      NaN     NaN      NaN
381124  300.45  296.25   78.0  ...     NaN    960.0      NaN     NaN      NaN
381125  302.35  294.55   63.0  ...     NaN      NaN      NaN     NaN      NaN
381126  298.95  296.85   88.0  ...     NaN      NaN      NaN     NaN      NaN
381127  271.45  271.45  100.0  ...     NaN      NaN      NaN     NaN      NaN

        nnuage4  ctype4  hnuage4  Unnamed: 59  \
0           NaN     NaN      NaN          NaN
1           NaN     NaN      NaN          NaN
2           NaN     NaN      NaN          NaN
3           NaN     NaN      NaN          NaN
4           NaN     NaN      NaN          NaN
...         ...     ...      ...          ...
381123      NaN     NaN      NaN          NaN
381124      NaN     NaN      NaN          NaN
381125      NaN     NaN      NaN          NaN
381126      NaN     NaN      NaN          NaN
381127      NaN     NaN      NaN          NaN

        numer_sta,date,pmer,tend,cod_tend,dd,ff,t,td,u,vv,ww,w1,w2,n,nbas,hbas,cl,cm,ch,pres,niv_bar,geop,tend24,tn12,tn24,tx12,tx24,tminsol,sw,tw,raf10,rafper,per,etat_sol,ht_neige,ssfrai,perssfrai,rr1,rr3,rr6,rr12,rr24,phenspe1,phenspe2,phenspe3,phenspe4,nnuage1,ctype1,hnuage1,nnuage2,ctype2,hnuage2,nnuage3,ctype3,hnuage3,nnuage4,ctype4,hnuage4,Unnamed: 59
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
381123                                                NaN
381124                                                NaN
381125                                                NaN
381126                                                NaN
381127                                                NaN

[381128 rows x 61 columns]
0          True
1         False
2         False
3         False
4         False
          ...
381123    False
381124    False
381125    False
381126    False
381127    False
Name: numer_sta, Length: 381128, dtype: bool

/tmp/ipykernel_22587/2112257357.py:1: DtypeWarning: Columns (60) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../Data/synop.csv")

Q1 : Quels sont les stations dont les températures sont les plus élevées et celles dont les températures sont les plus basses durant 2023 ? Appartiennent-elles à la même région ?

In [3]:
stations = pd.read_csv("../postesSynop.csv", sep=";")
list_num_sta = stations.loc[stations['ID'] < 10000, 'ID']
print(list_num_sta)
print(len(list_num_sta))

0     7005
1     7015
2     7020
3     7027
4     7037
5     7072
6     7110
7     7117
8     7130
9     7139
10    7149
11    7168
12    7181
13    7190
14    7207
15    7222
16    7240
17    7255
18    7280
19    7299
20    7314
21    7335
22    7434
23    7460
24    7471
25    7481
26    7510
27    7535
28    7558
29    7577
30    7591
31    7607
32    7621
33    7627
34    7630
35    7643
36    7650
37    7661
38    7690
39    7747
40    7761
41    7790
Name: ID, dtype: int64
42

In [4]:
list_mean_temp = []
for i in list_num_sta:
    list_temp = df.loc[df['numer_sta'] == i, 't']
    list_mean_temp.append(np.mean(list_temp))
print(list_mean_temp)
print(len(list_mean_temp))

[284.05817887614006, 284.3042857142857, 285.40861244019135, 284.5307556080283, 283.8926051161423, 284.09573780129335, 284.8479615952733, 285.4065617577197, 285.37480757844884, 284.2995366218236, 285.3285714285714, 284.6418283362728, 283.8428193054738, 284.690288829944, 286.7002312673451, 286.0073611519247, 285.3742185128983, 285.5711284161035, 284.7134010002942, 284.38743016759776, 287.0475007527853, 285.6002651738362, 284.8738319130179, 285.6323875330785, 282.5162842012357, 286.21171714201705, 287.1913529411765, 286.00634592680046, 284.12118393858873, 287.0031839622642, 283.56333135391924, 286.7761624484991, 285.83259847148736, 285.4793683589138, 287.39376681614345, 288.4916027018729, 288.5155598001763, nan, 289.4648911124191, 289.24826266195527, 289.14711679905855, 289.37953536549276]
42

In [5]:
coldest_sta = list_num_sta[pd.Series(list_mean_temp).idxmin()]
hottest_sta = list_num_sta[pd.Series(list_mean_temp).idxmax()]
print("La station la plus froide est : \n", stations.loc[stations['ID'] == coldest_sta, ['ID', 'Nom']])
print("La station la plus chaude est : \n", stations.loc[stations['ID'] == hottest_sta, ['ID', 'Nom']])

La station la plus froide est :
       ID            Nom
24  7471  LE PUY-LOUDES
La station la plus chaude est :
       ID   Nom
38  7690  NICE

Q2 : Quels sont les stations les plus humides, cela a-t-il une relation avec la température ?

In [6]:
list_mean_hum = []
for i in list_num_sta:
    list_hum = df.loc[df['numer_sta'] == i, 'u']
    list_mean_hum.append(np.mean(list_hum))
print(list_mean_hum)
print(len(list_mean_hum))

[81.81906443071492, 79.24970238095239, 82.60466507177034, 81.8913813459268, 81.35313143193179, 80.01528512639624, 85.093353028065, 81.00593824228028, 79.77827116637063, 80.62810164424515, 74.17430922986479, 78.02087007642564, 75.48999411418481, 74.64190981432361, 79.59789204726924, 78.94563620334999, 78.01638846737481, 75.23332353805466, 75.95910561929979, 76.53249044398706, 79.70520927431497, 78.50471420153211, 78.0317367029092, 69.47721258453396, 74.20888496616652, 70.47691855336666, 76.9514705882353, 76.85891381345927, 74.81517567168586, 69.49852594339623, 62.71080760095012, 80.59240729841083, 77.77601410934744, 77.79191263282172, 73.84962630792228, 66.48111759287688, 67.99324125771378, nan, 65.85726898175398, 62.56654888103651, 74.0882612533098, 69.52455621301775]
42

In [7]:
most_hum_sta = list_num_sta[pd.Series(list_mean_hum).idxmax()]
print("La station la plus humide est : \n", stations.loc[stations['ID'] == most_hum_sta, ['ID', 'Nom']])

La station la plus humide est :
      ID             Nom
6  7110  BREST-GUIPAVAS